<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage_style1.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="header">
            <div class="welcome-msg">
                <h1>Hello, Manas</h1>
            </div>
            <div class="links">
                <button>
                    <a href="">Consult A Doctor</a>
                </button>
                <button>
                    <a href="">LogOut</a>
                </button>
            </div>
        </div>
    </header>
    <div class="content">
        <h2>Wanna try out our AI Powered, Diagnostic tool</h2>
        <button><a href="">Get a Diagnosis</a></button>
    </div>
</body>
</html>